a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: none;
}

body {
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	color: #3c4445;
	line-height: 20px;
	font-size: 12px;
}

html, body {
	height: 100%;
}

a {
	color: #282627;
	text-decoration: none;
	transition: all .3s ease-in-out;
}

li {
	list-style-type: none;
}

/* HEADER */

.top-menu {
	margin-top: 32px;
}

.top-menu a {
	font-family: Cousine, Verdana;
	display: block;
	text-transform: uppercase;
	padding-left: 23px;
	font-size: 11px;
	letter-spacing: 2px;
	color: #282627;
	padding-left: 1.5972vw;
}

.top-menu a:hover {
	color: #b71234;
}

.top-menu .left-menu a {
	display: inline-block;
	padding-top: 1px;
	margin-right: 2.0833vw;
	padding-left: 1.5972vw;
}

.top-menu .right-menu a {
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: .1px;
	text-indent: -9999px;
	color: transparent;
	overflow: hidden;
}

.top-menu a.i-home {
    background: url(https://www.tlu.ee/themes/tlu/images/icon-home.svg) no-repeat 0 50%/auto 18px;
	background-position-y: 0px;
}
.top-menu a.i-contact {
    background: url(https://www.tlu.ee/themes/tlu/images/icon-contact.svg) no-repeat 0 50%/auto 15px;
	background-position-y: 0px;
}
.top-menu a.i-accessibility {
    background: url(https://www.tlu.ee/themes/tlu/images/icon-accessibility.svg) no-repeat 0 50%/auto 11px;
	background-position-y: 0px;
}

.left-menu{
	margin: 0px;
	padding: 0px;
	border: 0px;
	vertical-align: baseline;
}

.top-menu > div.left-menu {
	display: block;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 2px;
	color: #282627;
}

.lower-menu a {
	font-family: Times New Roman, Verdana;
	font-size: 14px;
}

.top-menu, .lower-menu {
	position: relative;
	display: flex;
	text-transform: uppercase;
}

.top-menu > div, .lower-menu > div {
	flex: 1;
	bottom: 0;
}

.link-bottom-aligner {
	position: absolute;
	bottom: -7px;
	right: 0px;
}

.link-bottom-aligner a + .active{
	color: #6bcaba;
	box-shadow: inset 0px -4px #6bcaba;
}

.link-bottom-aligner li a{
	margin-left: 1.04167vw;
	padding: 0 0 22px 0;
	text-transform: uppercase;
	font-family: "Times New Roman",serif;
	color: #3c4445;
	font-style: italic;
	font-size: 20px;
	letter-spacing: -1px;
	z-index: 11;
}

.link-bottom-aligner a:hover{
	color: #6bcaba;
	box-shadow: inset 0px -3px #6bcaba;
}

.link-bottom-aligner ul {
	margin-bottom: -8px;
}

.link-bottom-aligner ul li{
	padding: 0 10px;
	position: relative;
    display: inline-block;
}


.link-bottom-aligner li a{
	position: relative;
    display: block;
    padding: 0 0 22px 0;
    margin-left: 10px;
    text-transform: uppercase;
    font-family: "Times New Roman",serif;
    color: #3c4445;
    font-style: italic;
    font-size: 20px;
    letter-spacing: -1px;
    z-index: 2;
}

.link-bottom-aligner ul li a:before{
	content: "";
    position: absolute;
	top: -10px;
	left: -0.5vw;
    display: block;
    width: 3px;
    height: 40px;
    background: #6bcaba;
    transform: rotate(15deg);
    transform-origin: 0 0;
}

.link-bottom-aligner ul li:first-child a:before{
	display: none;
}

.lower-menu > div a {
	vertical-align: bottom;
	font-size: 20px;
	font-style: italic;
}

.top-menu > div.right-menu {
	text-align: right;
}

.base-align {
	padding: 0px 4.86111vw;
}

.lower-menu {
	padding-top: 20px;
	padding-bottom: 14px;
}

.lower-menu > div.left-menu {
	max-width: 350px;
}

.lower-menu > div.right-menu {
	position: relative;
	text-align: right;
}

.sticky {
	position: fixed;
	z-index: 7;
	background: #fff;
	width: 91%;
	top: 0;
	left: 0;
	padding: 20px 4.86111vw;
	box-shadow: 0 0 30px rgba(0,0,0,.1);
	margin-top: 0;
}

.sticky + .banner-section * {
	padding-top: 42px;
}

.sticky + .banner-section > div {
	padding-top: 65px;
	
}

.banner-section > div {
	display: block;
	min-height: auto;
}

.banner-image {
	padding-left: 3.47222vw;
	background: #6bcaba;
}

.banner-image img {
	display: block;
	height: auto;
	max-width: 100%;
}

.banner-section ol {
	padding: 20px;
}

.banner-section ol li {
	display: inline-block;
}

.banner-section {
	position: relative;
}

.breadcrumb-background {
	position: absolute;
	width: calc(100% - 3.47222vw);
	top: 0;
	z-index: 4;
	background: rgba(0,0,0,.4);
	color: #FFF;
}

.breadcrumb-background ol{
	padding: 20px 1.38889vw;
}

.breadcrumb-background ol li:not(:last-child){
	background: url(https://www.tlu.ee/themes/tlu/images/icon-arrow.svg) no-repeat 100% 50%;
	margin-right: 13px;
	padding-top: 0px;
}

.breadcrumb-background ol li a{
	z-index: 6;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	padding-right: 27px;
	font-size: 12px;
	text-transform: uppercase;
}

.breadcrumb-background ol li a:hover{
	text-decoration: underline;
}

.top-menu a[href*="facebook"] {
    background: url(https://www.tlu.ee/themes/tlu/images/icon-facebook.svg) no-repeat 50% 50%/8px auto;
}
.top-menu a[href*="twitter"] {
    background: url(https://www.tlu.ee/themes/tlu/images/icon-twitter.svg) no-repeat 50% 50%/16px auto;
}
.top-menu a[href*="instagram"] {
    background: url(https://www.tlu.ee/themes/tlu/images/icon-instagram.svg) no-repeat 50% 50%/16px auto;
}
.top-menu a[href*="flickr"] {
    background: url(https://www.tlu.ee/themes/tlu/images/icon-flickr.svg) no-repeat 50% 50%/16px auto;
}
.top-menu a[href*="youtube"] {
    background: url(https://www.tlu.ee/themes/tlu/images/icon-youtube.svg) no-repeat 50% 50%/16px auto;
}

.side-menu {
	font-family: Times New Roman, Verdana;
	font-size: 22px;
	font-style: italic;
	background: #6bcaba;
	width: 235px;
	padding: 50px 0px;
}

.menu-container {
	display: inline-block;
	background: #6bcaba;
	padding-left: 3.47222vw;
	width: 0;
}

.menu-wrapper {
	width: calc(3.47222vw + 235px);
	display: inline-block;
}

.side-menu a {
	display: block;
	color: #FFF;
	padding: 0 20px;
	border-radius: 3px 0 0 3px;
	letter-spacing: -1.1px;
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 10px;
}

.side-menu a:hover {
	text-decoration: underline;
}

.side-menu a.active {
	color: #3c4445;
	background: #FFF;
}

.side-menu a.active:hover {
	color: #b71234;
	text-decoration: none;
}

/*FOOTER */

.footer {
	display: flex;
	box-shadow: 0 0 30px rgba(0,0,0,.05);
	background: #FFF;
}

.red-section {
	flex: 1;
	background: #b71234;
	max-width: calc(235px + 3.47222vw);
	display: inline-block;
	vertical-align: top;
	height: 100%;
	height: auto;
}

.red-section img {
	padding-top: 60px;
	padding-bottom: 20px;
	padding-left: 60px;
}

.red-section .information {
	padding-left: 60px;
	padding-bottom: 60px;
	font-size: 14px;
}

.red-section p {
	margin: 4px;
	color: #FFF;
}

.red-section a {
	color: #FFF;
}

.white-section {
	margin-top: 42px;
	display: inline-block;
	flex: 2;
}

.upper-footer {
	text-align: center;
	margin-left: -10vw;
	position: relative;
}

.upper-footer > div{
	text-align: left;
}

.white-section .upper-footer .footer-section {
	display: inline-block;
	vertical-align: top;
	width: 235px;
	padding-left: 104px;
}

.white-section .upper-footer .footer-section a {
	display: block;
	letter-spacing: -.5px;
	color: #7d7779;
	letter-spacing: -.5px;
	font-size: 16px;
	font-weight: normal;
	line-height: 30px;
}

.white-section .upper-footer .footer-section a:hover {
	color: #b71234;

}

.white-section h3 {
	margin-bottom: 20px;
    font-size: 30px;
    font-family: Times New Roman, Verdana;
	font-style: italic;
	letter-spacing: -3px;
    font-weight: normal;
    text-transform: uppercase;
}

.footer-section > div{
	margin-left: 10vw;
}

.footer-section:before {
    content: "";
	position: absolute;
    top: 0;
	width: 3px;
	margin-left: -63px;
    height: 160px;
	background: #efefef;
	transform: rotate(15deg);
	z-index: 10;
}

.lower-footer {
	border-top: 1px solid #DDD;
	margin-top: 64px;
	margin-bottom: 40px;
}

.footer-logo-container {
	width: 86px;
	height: 60px;
	display: inline-block;
	margin: 0 20px;
}

.footer-logo-container:nth-child(3), .footer-logo-container:nth-child(4) {
	margin: 0 40px;
}

.footer-logo-container:nth-child(3) {
	margin-right: 60px;
}

.footer-logo-container:nth-child(3) {
	margin-left: 60px;
}

.footer-logo-container img {
	height: 100%;
}

.logo-aligner {
	text-align: center;
	margin-top: 40px;
}

.titanic {
	float: none;
	display: "⛴";
}

/* FORMS, INPUTS, BUTTONS, ETC */

label {
    min-width: 200px;
    display: inline-block;
	font-weight: bold;
}

input {
    padding: 5px;
    border: 1px solid #A8A8A8;
    width: 200px;
}

input[type="checkbox"] {
	width: auto;
}

input[type=button], input[type=submit], .btn {
    padding: 5px;
    width: auto;
	cursor: pointer;
	transition: 0.2s ease;
	display: inline-block;
	text-align: center;
}

.btn {
	text-decoration: none;
	background: #b80007;
	color: #fff;
	border: none;
	text-decoration: none;
	padding: 7px 20px;
	line-height: normal;
	font-size: 1em;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
}

.btn:hover {
	background: #b80006cb;
}

.btn-success {
	background: #6bcaba;
}

.btn-success:hover {
    background: #6bcabac9;
}

input[type="button"].btn-success {
	background: #b80007;
	color: #fff;
}

input[type="button"].btn-success:hover {
	background: #b80006cb;
}

input[type="submit"].btn-success {
	background: #b80007;
	color: #fff;
	text-transform: uppercase;
    border: none;
    text-decoration: none;
    padding: 7px 20px;
    line-height: normal;
    font-size: 1em;
    font-size: 13px;
    font-weight: bold;
	cursor: pointer;
	margin: 4px 0;
}

.btn:hover, input[type="submit"].btn-success:hover{
	background: #b80006cb;
}

input[type=button].btn-primary, input[type=submit].btn-primary, .btn-primary {
	background: #6bcaba;
}

input[type=button].btn-primary:hover, input[type=submit].btn-primary:hover, .btn-primary:hover {
	background: #6bcabac9
}

input[type=button].btn-primary, input[type=submit].btn-primary, .btn-primary [value=Otsi] {
	padding: 5px 10px;
}

.form-group {
	padding: 5px 0px;
}

input:-internal-autofill-selected {
	background-color: rgb(232, 240, 254);
}

/* GRIDVIEW */

.grid-view, .detail-view {
	border: 1px solid #DDD;
	margin-top: 10px;
}

.grid-view a {
	text-decoration: underline;
	transition: 0.2s ease;
}

.grid-view a:hover {
	color: #6bcaba;
}

.grid-view th, .grid-view td {
	padding: 6px 10px;
}

.grid-view th {
	text-transform: capitalize;
	background: #EEE;
}

.detail-view tr td:first-child {
	text-transform: capitalize;
	font-weight: bold;
	padding-right: 40px;
	border-right: 1px solid #DDD;
}

.grid-view tr:nth-child(odd), .detail-view tr:nth-child(odd) {
	background: #F3F3F3;
}

/* ALERTS */

.alert {
	position: relative;
	width: max-content;
	max-width: 100%;
	color: rgb(0, 0, 0);
	padding: 10px;
	background-color: #F3F3F3;
	margin-bottom: 15px;
	font-size: 16px;
	border-radius: 4px;
	border: 1px solid transparent;
}
.alert-primary {
	color: #004085;
	background-color: #cce5ff;
	border-color: #b8daff;
}

.alert-primary .alert-link {
	color: #002752;
}

.alert-secondary {
	color: #383d41;
	background-color: #e2e3e5;
	border-color: #d6d8db;
}

.alert-secondary .alert-link {
	color: #202326;
}

.alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.alert-success .alert-link {
	color: #0b2e13;
}

.alert-info {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb;
}

.alert-info .alert-link {
	color: #062c33;
}

.alert-warning {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
}

.alert-warning .alert-link {
	color: #533f03;
}

.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.alert-danger .alert-link {
	color: #491217;
}

.alert-light {
	color: #818182;
	background-color: #fefefe;
	border-color: #fdfdfe;
}

.alert-light .alert-link {
	color: #686868;
}

.alert-dark {
	color: #1b1e21;
	background-color: #d6d8d9;
	border-color: #c6c8ca;
}

.alert-dark .alert-link {
	color: #040505;
}

.alert-error {
	background-color: #F3F3F3;
}

/* CONTENT */

.content {
	display: inline-block;
	vertical-align: top;
	padding: 80px 4.86111vw;
	max-width: 800px;
	min-width: 320px;
	width: auto;
}

.content-admin-button {
	margin-bottom: 30px;
}

.control-label {
	min-width: 100px;
	display: inline-block;
}

.login-area .control-label{
	display: block;
}

.university > div, .filter-sub-container select, .university-description > div {
	display: inline-block;
}

#right-sub {
	width: auto;
	max-width: 300px;
	flex: 2;
}

.university {
	margin-top: 20px;
}

.universities {
	margin-top: 20px;
	width: auto;
}

#left-sub {
	padding-top: 14px;
	flex: 1;
	width: 510px;
}

.filter-sub-container, .university-description > div {
	vertical-align: top;
}

.filter-options{
	display: block;
	max-height: 102px;
	overflow: auto;
	background: #F5F5F5;
	padding: 8px 8px 0px 15px;
	margin-bottom: 10px;
}

.filter-options .topic{
	margin-left: -15px;
}

.filter-options label{
	min-width: auto;
	margin-left: 5px;
	display: inline-block;
	word-wrap: normal;
}

.filter-options label:hover{
	text-decoration: underline;
}

.description-text {
	max-width: 535px;
	min-width: 535px;
	overflow-y: auto;
	max-height: 130px;
	padding-left: 10px;
}

.filter-container {
	display: flex;
	width: auto;
}

h1 {
	margin-bottom: 40px;
	position: relative;
	font-size: 26px;
	text-transform: uppercase;
	font-family: "Times New Roman",serif;
	font-style: italic;
	letter-spacing: -1px;
	color: #3c4445;
}

h2 {
	border-bottom: 2px solid #F3F3F3; 
	margin: 20px 0;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	color: #3c4445;
	line-height: 20px;
	font-size: 22px;
}

h3 {
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	color: #3c4445;
	line-height: 20px;
	font-size: 18px;
	margin: 12px 0;
}

h4 {
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	color: #3c4445;
	line-height: 20px;
	font-size: 12px;
	margin: 12px 0;
}

h5 {
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	color: #3c4445;
	line-height: 20px;
	font-size: 12px;
	margin: 12px 0;
}

.university h3 {
	margin-left: 80px;
}

.percent-with-link {
	position: relative;
	font-size: 20px;
	min-width: 60px;
	max-width: 75px;
	padding-left: 2px;
	width: auto;
	height: auto;
	font-weight: bold;
}

.percent-with-link a{
	text-transform: uppercase;
	color: #b80007;
	padding-right: 5px
}

.percent-with-link a:hover{
	color: #b80007;
	text-decoration: underline;
}

.percent-with-link div:last-child {
	margin-top: 15px;
	font-size: 12px;
}

.university-icon img {
	width: 48px;
	font-size: 42px;
}

.university-map a {
	font-size: 70px;
	display: inline-block;
	padding-top: 10px;
	color: #282627;
	text-shadow: 1px 1px 1px #d51e48;
}

.university-description {
	border-bottom: 2px solid #F3F3F3 
}

select {
	margin: 0px 6px 6px 0px;
	border: 1px solid #A7A7A7;
}

.admin-link ul li{
	padding: 10px 20px 10px 0;
	position: relative;
	display: inline-block;
	font-size: 20px;
	text-transform: uppercase;
	font-family: "Times New Roman",serif;
	font-style: italic;
	letter-spacing: -1px;
}

.admin-link ul li a{
	padding: 0 20px;
	letter-spacing: -1px;
	color: #3c4445;
}

.admin-link ul li a:hover{
	color: #b80007;
	text-decoration: underline;
}

.admin-link ul li a:before {
	content: "";
	position: absolute;
	display: block;
	top: 5px;
	left: 0px;
	width: 3px;
	height: 30px;
	transform-origin: 0 0;
	transform: rotate(15deg);
	background: #b80007;
}

.keyword-block {
	display: inline-block;
}

#all-keywords .keyword-block label{
	width: 100px;
	min-width: 100px;
}

/* MOBILE */

@media only screen and (max-width: 1441px) {
	.footer-section:before {
		content: "";
		position: absolute;
		top: 0;
		width: 3px;
		margin-left: -30px;
		height: 160px;
		background: #efefef;
		transform: rotate(15deg);
		z-index: 10;
	}
}

@media only screen and (max-width: 1430px) {
	.lower-menu > div.right-menu a{
		font-size: 16px;
	}

	.link-bottom-aligner ul li a:before{
		top: -5px;
		height: 30px;
	}
}

@media only screen and (max-width: 1260px) {
	.lower-menu > div.right-menu a{
		margin-left: 0;
	}
}

@media only screen and (max-width: 1350px) {
	.footer-section:before {
		display: none;
	}
}

@media only screen and (max-width: 1230px) {
	.side-menu { 
		display: none; 
	}

	.menu-wrapper { 
		display: none; 
	}

	.content {
		padding-top: 20px;
	}
}

@media only screen and (max-width: 1175px) {
	.lower-menu > div.right-menu a{
		font-size: 14px;
	}

	.lower-menu > div.left-menu {
		max-width: 225px;
	}

	.top-menu > div.left-menu {
		display: none;
	}
}

@media only screen and (max-width: 1080px) {
	.lower-menu > div.right-menu a{
		font-size: 14px;
	}
}

@media only screen and (max-width: 950px) {
	.link-bottom-aligner ul li a:before{
		top: 0px;
		left: -0.5vw;
		width: 2px;
		height: 20px;
	}

	.breadcrumb-background {
		display: none;
	}

	.base-align {
		display: block;
	}

	.lower-menu > div.right-menu {
		padding-top: 50px;
	}

	.lower-menu > div.right-menu a{
		font-size: 12px;
		margin-left: 0px;
	}
}

@media only screen and (max-width: 870px) {
	.description-text {
		max-width: 350px;
		min-width: 350px;
	}	
}

@media only screen and (max-width: 660px) {
	.top-menu > div.right-menu {
		padding-top: 10px;
	}

	.lower-menu > div.right-menu a{
		margin-left: -10px;
	}

	.description-text {
		max-width: 535px;
		min-width: 200px;
	}

	.description-text {
		max-width: 250px;
		min-width: 200px;
	}

	.university-map a {
		padding-top: 15px;
		padding-left: 10px;
	}

	.content {
		padding: 10px 10px;
	}

	h1 {
		margin-bottom: 10px;
	}

	.filter-container {
		display: inline-block;
	}

	.red-section {
		display: none;
	}

	.white-section {
		flex: 0;
	}
}

@media only screen and (max-width: 540px) {
	.lower-menu > div.right-menu {
		display: none;
	}
}

@media only screen and (max-width: 480px) {
	#left-sub {
		padding-top: 14px;
		flex: 1;
		width: auto;
	}
}

